@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.layout__container {
    background-color: $bgc;
    min-height: calc(100vh - $header-height - $footer-height);
    margin-top: $header-height;
    margin-bottom: $footer-height;
    padding: 4rem 0 4rem 0;
    @include to-breakpoint (md) {
        padding: 2rem 0 2rem 0;
    }
}