$slides: 1;
$duration: $slides * 12s;

.slider {
  margin: auto;
  overflow: hidden;

  .slides {
    display: flex;
    width: 100% * $slides;
    height: 100%;
    animation: slide $duration infinite ease-in-out;
  }
}

@keyframes slide {
  0%   { transform: translateX(0%); }
  16%  { transform: translateX(0%); }

  20%  { transform: translateX(-100%); }
  36%  { transform: translateX(-100%); }

  40%  { transform: translateX(-200%); }
  56%  { transform: translateX(-200%); }

  60%  { transform: translateX(-300%); }
  76%  { transform: translateX(-300%); }

  80%  { transform: translateX(-400%); }
  100% { transform: translateX(-400%); }
}
