
@use "../utils/variables" as *;

@each $key, $prop in $spacings {
    @for $i from 0 through 12 {
        .#{$key}-#{$i} {
            #{$prop}: $i * 0.25rem;
        }
    }
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-items-center {
    justify-items: center;
}

.align-center {
    align-items: center;
}

.d-none {
    display: none;
}

.justify-center {
    justify-content: center;
}
